.container {
	display: flex;
}

.sidebar,
.content {
	border: 1px solid #4285f4;
	margin: 10px;
	padding: 10px;
}

.sidebar {
	flex: 0 0 350px;
}

@media screen and (max-width: 850px) {
	.container {
		flex-direction: column-reverse;
	}

	.sidebar {
		flex-basis: content;
	}
}
